.App {
  /*text-align: center;*/
  margin: 20px;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
ul {
  list-style: none;
  padding-left: 0;
}

button.delete {
  margin-left: 5px;
  font-size: 9px;
}

button.delete:after {
  content: "x";
}
